*.a
*.bundle
*.gem
*.o
*.rbc
*.so

.bundle
/.bundle/

.yardoc
/.yardoc
/_yardoc/
_yardoc

.config
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
InstalledFiles
coverage
doc/
lib/bundler/man
mkmf.log
pkg
rdoc
spec/db/*
spec/reports
test/tmp
test/version_tmp
tmp

# rspec failure tracking
.rspec_status
